@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F1D8C9, #f2c3a7);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2{
    color: #fa945a;
}

p{
    text-align: justify;
}